<%= form_for(admin_user , html: {class: "form-horizontal",style:"max-width: 600px;"})  do |f|  %>
<% if admin_user.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(admin_user.errors.count, "error") %> prohibited this admin_user from being saved:</h2>

  <ul>
    <% admin_user.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<%# <label for="inputUsername" class="sr-only">用户名</label>
<input type="text" id="inputUsername" name="username" class="form-control" style="margin-bottom:10px"  placeholder="用户名" required autofocus>
  %>

<div class="form-group">
  <%= f.label :username ,"用户名",class:"col-md-2 control-label",style:"color:red"%>
  <div class="col-md-10">
    <%= f.text_field :username , size: "30", class:"form-control" , placeholder:"用户名",required:true %>
  </div>
</div>

<div class="form-group">
  <%= f.label :password ,"密  码",class:"col-md-2 control-label"%>
  <div class="col-md-10">
    <%= f.password_field :password  , class:"form-control" , placeholder:"密  码",required:true%>
  </div>
</div>

<div class="form-group">
  <%= f.label :password_confirmation ,"确认密码",class:"col-md-2 control-label"%>
  <div class="col-md-10">
    <%= f.password_field :password_confirmation   , class:"form-control" , placeholder:"确认密码",required:true%>
  </div>
</div>

<div class="form-group">
  <%= f.label :real_name  ,"真实姓名",class:"col-md-2 control-label"%>
  <div class="col-md-10">
    <%= f.text_field :real_name   , class:"form-control" , placeholder:"真实姓名",required:true,autofocus:true%>
  </div>
</div>

<div class="form-group">
  <%= f.label :email ,"邮  箱",class:"col-md-2 control-label"%>
  <div class="col-md-10">
    <%= f.email_field :email , class:"form-control" , placeholder:"邮  箱",required:true%>
  </div>
</div>

<div class="form-group">
  <%= f.label :mobile ,"电  话",class:"col-md-2 control-label"%>
  <div class="col-md-10">
    <%= f.text_field :mobile  , class:"form-control" , placeholder:"电  话",required:true%>
  </div>
</div>

<div class="form-group">
  <%= f.label :gender,"性  别",class:"col-md-2 control-label"%>
  <div class="col-md-10">
    <div class="radio">
      <label>
        <%=f.radio_button(:gender, true)%>男
      </label>
      <label>
          <%=f.radio_button(:gender, false)%>女
      </label>
    </div>
  </div>
</div>

<div class="form-group">
  <%= f.label :is_enabled  ,"是否可用",class:"col-md-2 control-label"%>
  <div class="col-md-10">
    <div class="radio">
      <label>
        <%=f.radio_button(:is_enabled, true)%>是
      </label>
      <label>
        <%=f.radio_button(:is_enabled, false)%>否
      </label>
    </div>
  </div>
</div>

<div class="form-group">
  <%= f.label :is_locked ,"是否锁定",class:"col-md-2 control-label"%>
  <div class="col-md-10">
    <div class="radio">
      <label>
        <%=f.radio_button(:is_locked, true)%>是
      </label>
      <label>
        <%=f.radio_button(:is_locked, false)%>否
      </label>
    </div>
  </div>
</div>

<div class="form-group">
  <%= f.label :is_expired ,"是否过期",class:"col-md-2 control-label"%>
  <div class="col-md-10">
    <div class="radio">
      <label>
        <%=f.radio_button(:is_expired, true)%>是
      </label>
      <label>
        <%=f.radio_button(:is_expired, false)%>否
      </label>
    </div>
  </div>
</div>

<div class="form-group">
  <%= f.label :status,"状态",class:"col-md-2 control-label"%>
  <div class="col-md-10">
    <%= f.number_field :status %>
  </div>
</div>

<div class="form-group">
  <%= f.label :type ,"类型",class:"col-md-2 control-label"%>
  <div class="col-md-10">
    <%= f.number_field :type %>
  </div>
</div>

<div class="actions form-group">
  <div class="col-md-2"></div>
  <div class="col-md-10">
    <%= f.submit "提交", class:"btn btn-primary" %>
  </div>
</div>
<% end %>