<%@title="管理后台用户编辑页"%>
<link href="/dashboard.css" rel="stylesheet">
<%= render "admin/share/header" %>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <%= render "admin/share/sidebar" %>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h4 class="sub-header">用户编辑</h4>
        <%= render 'form', admin_user: @admin_user %>
        <%= link_to '详情', @admin_user %> |
        <%= link_to '返回', admin_users_path %>
    </div>  
  </div>
</div>


