<%@title="管理后台用户详情"%>
<%= render "admin/share/header" %>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <%= render "admin/share/sidebar", select_menu: "/admin/users"  %>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <ul class="breadcrumb">
          <li><a href="/admin/main">首页</a></li>
          <li><a href="/admin/users" class="active">用户管理</a></li>
          <%# <li><a href="#" class="active">用户详情</a></li> %>
      </ul>
        <h4 class="sub-header">用户详情</h4>
        <p id="notice"><%= notice %></p>

        <p>
          <strong>Username:</strong>
          <%= @admin_user.username %>
        </p>

        <p>
          <strong>Created by:</strong>
          <%= @admin_user.created_by %>
        </p>

        <p>
          <strong>Updated by:</strong>
          <%= @admin_user.updated_by %>
        </p>

        <p>
          <strong>Email:</strong>
          <%= @admin_user.email %>
        </p>

        <p>
          <strong>Gender:</strong>
          <%= @admin_user.gender %>
        </p>

        <p>
          <strong>Mobile:</strong>
          <%= @admin_user.mobile %>
        </p>

        <p>
          <strong>Enabled:</strong>
          <%= @admin_user.enabled %>
        </p>

        <p>
          <strong>Real name:</strong>
          <%= @admin_user.real_name %>
        </p>

        <p>
          <strong>Is enabled:</strong>
          <%= @admin_user.is_enabled %>
        </p>

        <p>
          <strong>Is locked:</strong>
          <%= @admin_user.is_locked %>
        </p>

        <p>
          <strong>Is expired:</strong>
          <%= @admin_user.is_expired %>
        </p>

        <p>
          <strong>Status:</strong>
          <%= @admin_user.status %>
        </p>

        <p>
          <strong>Type:</strong>
          <%= @admin_user.type %>
        </p>
        <%= link_to raw("<i class=\"fa fa-wrench\" aria-hidden=\"true\">&nbsp;编辑</i>"), edit_admin_user_path(@admin_user) ,{ class:'btn btn-warning'}%>
        <%= link_to raw("<i class=\"fa fa-arrow-circle-left\" aria-hidden=\"true\">&nbsp;返回</i>"), admin_users_path ,{ class:'btn btn-primary'}%>

    </div>  
  </div>
</div>


